package.box

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

#vagrant stuff
.vagrant
Vagrantfile
bootstrap.sh
compressed-magento-sample-data*.tgz

#magento stuff
httpdocs/.htaccess
httpdocs/.htaccess.sample
httpdocs/.modgit/
httpdocs/.modman/
httpdocs/app/code/community/Phoenix/Moneybookers/
httpdocs/app/code/community/Cm/RedisSession/
httpdocs/app/code/core/
httpdocs/app/code/local/Alanstormdotcom
httpdocs/app/design/adminhtml/default/default/
!httpdocs/app/design/frontend/base/
httpdocs/app/design/frontend/base/*
!httpdocs/app/design/frontend/base/default
httpdocs/app/design/frontend/base/default/*
!httpdocs/app/design/frontend/base/default/template
!httpdocs/app/design/frontend/base/default/layout
httpdocs/app/design/frontend/base/default/template/*
httpdocs/app/design/frontend/base/default/layout/*
!httpdocs/app/design/frontend/base/default/template/onespace
!httpdocs/app/design/frontend/base/default/layout/onespace
httpdocs/app/design/frontend/rwd/
httpdocs/app/design/frontend/default/blank/
httpdocs/app/design/frontend/default/default/
httpdocs/app/design/frontend/default/iphone/
httpdocs/app/design/frontend/default/modern/
httpdocs/app/design/frontend/enterprise/default
httpdocs/app/design/install/
httpdocs/app/etc/modules/Enterprise_*
httpdocs/app/etc/modules/Mage_*.xml
httpdocs/app/etc/modules/Phoenix_Moneybookers.xml
httpdocs/app/etc/modules/Cm_RedisSession.xml
httpdocs/app/etc/modules/Alanstormdotcom_Layoutviewer.xml
httpdocs/app/etc/applied.patches.list
httpdocs/app/etc/config.xml
httpdocs/app/etc/enterprise.xml
httpdocs/app/etc/local.xml.additional
httpdocs/app/etc/local.xml.template
httpdocs/app/etc/local.xml
httpdocs/app/.htaccess
httpdocs/app/bootstrap.php
httpdocs/app/locale/en_US/
httpdocs/app/Mage.php
httpdocs/cron.php
httpdocs/cron.sh
httpdocs/dev/.htaccess
httpdocs/dev/tests/functional/
httpdocs/downloader/
httpdocs/errors/
httpdocs/favicon.ico
httpdocs/get.php
httpdocs/includes/
httpdocs/index.php
httpdocs/index.php.sample
httpdocs/install.php
httpdocs/js/blank.html
httpdocs/js/calendar/
httpdocs/js/enterprise/
httpdocs/js/extjs/
httpdocs/js/firebug/
httpdocs/js/flash/
httpdocs/js/index.php
httpdocs/js/jscolor/
httpdocs/js/lib/
httpdocs/js/mage/
httpdocs/js/prototype/
httpdocs/js/scriptaculous/
httpdocs/js/spacer.gif
httpdocs/js/tiny_mce/
httpdocs/js/varien/
httpdocs/lib/3Dsecure/
httpdocs/lib/Apache/
httpdocs/lib/flex/
httpdocs/lib/googlecheckout/
httpdocs/lib/.htaccess
httpdocs/lib/LinLibertineFont/
httpdocs/lib/Mage/
httpdocs/lib/PEAR/
httpdocs/lib/Pelago/
httpdocs/lib/phpseclib/
httpdocs/lib/Varien/
httpdocs/lib/Zend/
httpdocs/lib/Cm/
httpdocs/lib/Credis/
httpdocs/lib/Magento/
httpdocs/lib/Net
httpdocs/lib/Unserialize
httpdocs/LICENSE_AFL.txt
httpdocs/LICENSE.html
httpdocs/LICENSE.txt
httpdocs/LICENSE_EE*
httpdocs/mage
httpdocs/media/
httpdocs/api.php
httpdocs/nbproject/
httpdocs/pear
httpdocs/pear/
httpdocs/php.ini.sample
httpdocs/pkginfo/
httpdocs/RELEASE_NOTES.txt
httpdocs/shell/.htaccess
httpdocs/shell/abstract.php
httpdocs/shell/compiler.php
httpdocs/shell/indexer.php
httpdocs/shell/log.php
httpdocs/sitemap.xml
httpdocs/skin/adminhtml/default/default/
httpdocs/skin/adminhtml/default/enterprise
httpdocs/skin/frontend/base/
httpdocs/skin/frontend/rwd/
httpdocs/skin/frontend/default/blank/
httpdocs/skin/frontend/default/blue/
httpdocs/skin/frontend/default/default/
httpdocs/skin/frontend/default/french/
httpdocs/skin/frontend/default/german/
httpdocs/skin/frontend/default/iphone/
httpdocs/skin/frontend/default/modern/
httpdocs/skin/frontend/enterprise
httpdocs/skin/install/
httpdocs/var/
