<?xml version="1.0"?>
<config>
  <modules>
    <Onespace_Testimonials>
      <version>0.1.0</version>
    </Onespace_Testimonials>
  </modules>
  <global>
    <helpers>
      <testimonials>
        <class>Onespace_Testimonials_Helper</class>
      </testimonials>
    </helpers>
    <models>
      <testimonials>
        <class>Onespace_Testimonials_Model</class>
        <resourceModel>testimonials_mysql4</resourceModel>
      </testimonials>
      <testimonials_mysql4>
        <class>Onespace_Testimonials_Model_Mysql4</class>
        <entities>
          <testimonial>
            <table>testimonials</table>
          </testimonial>
        </entities>
      </testimonials_mysql4>
    </models>
    <blocks>
      <testimonials>
        <class>Onespace_Testimonials_Block</class>
      </testimonials>
    </blocks>
    <resources>
      <testimonials_write>
        <connection>
          <use>core_write</use>
        </connection>
      </testimonials_write>
      <testimonials_read>
        <connection>
          <use>core_read</use>
        </connection>
      </testimonials_read>
      <testimonials_setup>
        <setup>
          <module>Onespace_Testimonials</module>
          <class>Onespace_Testimonials_Model_Resource_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </testimonials_setup>
    </resources>
  </global>
  <frontend>
    <routers>
      <testimonials>
        <use>standard</use>
        <args>
          <module>Onespace_Testimonials</module>
          <frontName>testimonials</frontName>
        </args>
      </testimonials>
    </routers>
    <layout>
      <updates>
        <testimonials>
          <file>onespace/testimonials.xml</file>
        </testimonials>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <onespace_testimonials after="Mage_Adminhtml">Onespace_Testimonials_Adminhtml</onespace_testimonials>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config>